<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Employee</title>
</head>
<body>
    <!----Title -------->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">MY TEAM</h1>
        </div>
      </div>

      <!-------- Body --------->
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div id="ocupation"></div>
          <h5 class="card-title">Employee</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li id="id">1</li> 
          <a href=""li id="email">Email</li></a>
          <a href=""li id="office">Office Number</li></a>
        </ul>
      </div>
      <script src="/output/output/employee.js"></script>
</body>
</html>