<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Employee</title>
</head>
<body>
    <!----Title -------->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">MY TEAM</h1>
        </div>
      </div>
      <!------- Start of Cards----->
      <div class="container">
        <div class="col-md-12">
          <div class="row">
            <!-------- Manager code Block-->
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <form method="POST" role="form">
      
                  <div class="form-group">
                    <label for="name" id="name">Name</label>
                  </div>
      
                  <div class="form-group">
                    <label for="role" id="role">Role</label>
                  </div>
      
                  <div class="form-group">
                    <label for="id" id="id">Id</label>
                  </div>
      
                  <div class="form-group">
                    <label for="role-property" id="office-num">Office-Number</label>
                  </div>
      
                </form>
                
              </div>
            </div>
            <!------------------Engineer code Block------------>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <form method="POST" role="form">
      
                  <div class="form-group">
                    <label for="name" id="name">Name</label>
                  </div>
      
                  <div class="form-group">
                    <label for="role" id="role">Role</label>
                  </div>
      
                  <div class="form-group">
                    <label for="id" id="id">Id</label>
                  </div>
      
                  <div class="form-group">
                    <label for="role-property" id="gitHub">Github Username</label>
                  </div>
                  <div class="form-group">
                    <a href="" label for="role-property" id="gitHubLink">Github Link</label></a>
                  </div>
      
                </form>
                
              </div>
            </div>
            <!----------- Intern code Block -------------------->
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <form method="POST" role="form">
      
                  <div class="form-group">
                    <label for="name" id="name">Name</label>
                  </div>
      
                  <div class="form-group">
                    <label for="role" id="role">Role</label>
                  </div>
      
                  <div class="form-group">
                    <label for="id" id="id">Id</label>
                  </div>
      
                  <div class="form-group">
                    <label for="role-property" id="school">School</label>
                  </div>
      
                </form>
                
              </div>
            </div>
            <!-------------Employee block of code ----------->
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <form method="POST" role="form">
      
                  <div class="form-group">
                    <label for="name" id="name">Name</label>
                  </div>
      
                  <div class="form-group">
                    <label for="role" id="role">Role</label>
                  </div>
      
                  <div class="form-group">
                    <label for="id" id="id">Id</label>
                  </div>
      
                  <div class="form-group">
                    <label for="role-property" id="role-property">Role-Specific</label>
                  </div>
      
                </form>
                
              </div>
            </div>

          </div>
        </div>
      </div>
</body>
</html>